@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-main {
    @apply bg-[#fcffff] dark:bg-[#1e1e1e];
  }
  .bg-1 {
    @apply bg-[#f7ffff] dark:bg-[#1e1e1e];
  }
  .text-primary {
    @apply text-[#1e1e1e] dark:text-[#fcffff];
  }
  .text-secondary {
    @apply text-[#fcffff] dark:text-[#1e1e1e];
  }
  .verification-outline {
    @apply border border-[#aaadad] transition ease-in-out duration-300 rounded-md mt-2 p-2 h-36 items-center justify-center flex;
  }
  .verification-outline-dashed {
    @apply border-2 border-[#aaadad] cursor-pointer transition ease-in-out duration-300 rounded-md text-primary mt-2 p-2 hover:text-teal-800 h-36 items-center justify-center flex;
  }
  .button-primary {
    @apply cursor-pointer transition ease-in-out duration-100 rounded-md p-2 text-teal-50 gr-1 hover:bg-teal-800 hover:text-[#fcffff] hover:gr-2 flex flex-col items-center justify-center bg-1 border dark:border-teal-500;
  }
  .gr-1 {
    @apply bg-gradient-to-br from-teal-400 to-indigo-600;
  }
  .gr-2 {
    @apply bg-gradient-to-br from-teal-600 to-indigo-800;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
